$appFont: HelveticaNeue;

$appColors: (
    white: #ffffff,
    alabaster: #f9f9f9,
    gallery: #ebebeb,
    wild-sand: #f4f4f4,
    alto: #d8d8d8,
    silver-chalise: #a0a0a0,
    gray: #8d8d8d,
    boulder:  #797979,
    mine-shaft: #3a3a3a,
    black: #000000,
    primary: #424242,
    secondary: #791F85,
    warning: #f44336,
    backgroundSecondary: #222222,
    colorSecondary: #DDDDDD
)