<main>
  <aside class="app-main-aside" *ngIf="(isAuthenticated$ | async)">
    ASIDE NAV
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active-menu-item">Dashboard</li>
      <li routerLink="/services" routerLinkActive="active-menu-item">Services</li>
      <li routerLink="/users" routerLinkActive="active-menu-item">Users</li>
      <li routerLink="/alerts" routerLinkActive="active-menu-item">Alerts</li>
    </ul>
    <!-- <app-aside-navigation></app-aside-navigation> -->
  </aside>

  <section class="app-main-section" [ngClass]="{'section-container-fullscreen': !(isAuthenticated$ | async)}">
    <router-outlet></router-outlet>
  </section>

</main>