@import "./../assets/styles/theme.scss";

header {
  width: 100%;
  height: 60px;
}

main {
  display: flex;
  font-family: $appFont;

  aside {
    &.app-main-aside {
      width: 17%;
      height: calc(100vh - 60px);
      box-shadow: 0 1.5px 3px 0 rgba(map-get($appColors, black), 16%);
      background-color: map-get($appColors, white);
    }
  }

  section {
    &.section-container-fullscreen {
      width: 100%;
    }
    &.app-main-section {
      overflow: scroll;
      height: calc(100vh - 60px);
      width: 83%;
      padding: 1rem;
    }
  }
}

@media (max-width: 576px) {
  .app-main-aside {
    display: none !important;
  }

  .app-main-section {
    width: 100% !important;
  }
}
