<div class="loginBox">
    <p>Sign in to your account!</p>
    <form name="message" method="post">
        <section>



            <div style="float:left;">
                <label for="email">Email</label>
                <input id="email" type="text" value="" name="email">
            </div>
            <br style="clear:both;" />
            <div style="float:left;margin-right:20px;">
                <label for="password">Password</label>
                <input id="password" type="password" value="" name="name">
            </div>

            <br style="clear:both;" />
            <button (click)="signin()" class="p-button-raised p-button-secondary p-button-text">Sign in</button>
            <!-- <button (click)="signout()">Sign Out</button> -->
            <br style="clear:both;" />
            <a href="#">Forget your password?</a>
            <br style="clear:both;" />
            <a href="#">Don't have an account? Sign up.</a>
        </section>
    </form>

</div>